.category {
  background: rgb(237, 237, 237);
  min-height: 100vh;
}

.category .nav {
  justify-content: space-between;
  background: #3778c2;
  color: #fff;
  margin-bottom: 30px;
  width: 100%;
  min-height: 70px;
}

.category-form {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.1);
}

.category-form input[type="text"],
.category-form input[type="url"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  display: block;
  text-align: center;
  margin-top: 20px;
}
