.login {
  height: 100vh;
}

.login .nav {
  justify-content: space-between;
  background: #3778c2;
  color: #fff;
  margin-bottom: 30px;
  width: 100%;
}

.login .back {
    text-decoration: none;
    color: #fff;
}

.login h2 {
  font-size: 38px;
}

.login .login-button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.login .fields {
  width: 100%;
  height: 50px;
}

.login .password {
  text-decoration: none;
  color: #434b54c1;
  margin-top: 40px;
  cursor: pointer;
}
